<a href="https://colab.research.google.com/github/Yash-Lalwani/DataScience-Cohort/blob/main/Data_Structures_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Lists

In [2]:
list1 = [] ## empty list
list2 = [1, 2, 3]
list3 = [1, "one", 2.3] ## list with mixed data type
type(list3)

list

Nested lists

In [4]:
list4 = ["one", [1, 2, 3], [4, 5, 6]]
list4

['one', [1, 2, 3], [4, 5, 6]]

In [8]:
list4[1]

[1, 2, 3]

In [10]:
list4[1][2]

3

Slicing

In [13]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-3:-1])

['h', 'i']

In [15]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-1:-3]) ## empty list

[]

In [17]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-1:-3:-1])

['j', 'i']

In [21]:
my_list = [10, 25, 5, 60, 30, True, False] ## true is interpretated as 1, and false as 0
max_element = max(my_list)
min_element = min(my_list)
sum_element = sum(my_list)
print(min_element)
print(max_element)
print(sum_element)

False
60
131

In [23]:
strings = ["abc", "abd", "abe"]
print(max(strings))
print(min(strings))

abe
abc

In [25]:
my_list

[10, 25, 5, 60, 30, True, False]

In [27]:
my_list[3] = 65
print(my_list)
# therefore list are mutable

[10, 25, 5, 65, 30, True, False]

Repeat/Replicate List

In [29]:
print(my_list * 3)

[10, 25, 5, 65, 30, True, False, 10, 25, 5, 65, 30, True, False, 10, 25, 5, 65, 30, True, False]

# inBuilt functions of list

In [31]:
my_list

[10, 25, 5, 65, 30, True, False]

append() function

In [33]:
my_list.append(100)
my_list

[10, 25, 5, 65, 30, True, False, 100, 100]

extend function

l1.extend(l2) -> modifies l1 - in place
it does not return anything, therefore it's return value is none
is you do this -> print(l1.extend(l2)) ## output none

In [36]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1.extend(l2)) ## extend function does not return anything

None

In [38]:
l1.append([9,10,11,12])
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11, 12], [9, 10, 11, 12]]

In [39]:
l1.append(9,10,11,12)
print(l1)

TypeError: list.append() takes exactly one argument (4 given)

insert() function

In [42]:
my_list

[10, 25, 5, 65, 30, True, False, 100, 100]

In [45]:
my_list.insert(0,5)
print(my_list)

[5, 5, 10, 25, 5, 65, 30, True, False, 100, 100]

# '+' Operator

In [48]:
## so what is the difference extend and +
list1 = ['apple', 'banana', 'cherry']
list2 = ['orange', 'kiwi', 'melon', 'mango']
list3 = list1 + list2
print(list3)
## it is not modifying original list, it is making new
## here you can only add list to list
## extend can also add a tuple

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [50]:
a = [1,2]
a.extend((3,4))
print(a)
#

[1, 2, 3, 4]

In [52]:
a + (3,4)

TypeError: can only concatenate list (not "tuple") to list

# Comparision of list

In [53]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 == list2)
print(list1 != list2)
print(list1 > list2)
print(list1 < list2)

False
True
False
True

remove operation in list

In [55]:
my_list

[5, 5, 10, 25, 5, 65, 30, True, False, 100, 100]

In [58]:
my_list.remove(5) ## ran two times, first occurence will be removed
print(my_list)

[10, 25, 65, 30, True, False, 100, 100]

# pop() method

In [59]:
my_list

[10, 25, 65, 30, True, False, 100, 100]

In [60]:
my_list.pop(2) ## it will return the popped element, and it takes index unlike remove

65

# del Statement

In [63]:
del my_list[2]
print(my_list)

[10, 25, False, 100, 100]

In [65]:
del my_list[1:3]
print(my_list)

[10]

In [67]:
del my_list
print(my_list) # whole list got deleted

NameError: name 'my_list' is not defined

In [69]:
list4

['one', [1, 2, 3], [4, 5, 6]]

In [71]:
list4.clear()
print(list4) ## here it will not delete whole list, but clear it

[]

Sorting list

In [73]:
my_list = [3,1,4,7,8,12,0,13,16,11]
my_list.sort()
print(my_list) ## will sort the list in ascending

[0, 1, 3, 4, 7, 8, 11, 12, 13, 16]

In [75]:
my_list = [3,1,4,7,8,12,0,13,16,11]
my_list.sort(reverse=True)
print(my_list) ## will sort the list in descending

[16, 13, 12, 11, 8, 7, 4, 3, 1, 0]

In [77]:
count_element = my_list.count(1)
print(count_element)

1

In [79]:
index = my_list.index(13)
print(index)

1

In [81]:
my_list.reverse()
print(my_list)

[16, 13, 12, 11, 8, 7, 4, 3, 1, 0]

In [83]:
words = ["Hello", "How", "are", "you"]
result = " ".join(words)
print(result)

Hello How are you

In [84]:
words = ["Hello", "How", "are", "you"]
result = ":".join(words)
print(result)

Hello:How:are:you