<a href="https://colab.research.google.com/github/Yash-Lalwani/DataScience-Cohort/blob/main/Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print() function

In [ ]:
print("yash")

yash

In [ ]:
print("yash")
print("lalwani")

yash
lalwani

to print on same line, use end parameter

In [ ]:
print("yash", end = ' ')
print("lalwani")

yashlalwani

In [ ]:
print("python", end = '-')
print("programming")

python-programming

In [ ]:
print("apple", "orange", "banana")

apple orange banana

sep parameter, used to seperate on same line

In [ ]:
print("apple", "orange", "banana", sep = ", ")

apple, orange, banana

# input() Function

In [ ]:
user_input = input("Enter your name: ")
print("hey, my name is " + user_input )

Enter your name: yash
hey, my name is yash

it will take the latest value, and the last will be removed by garbage collector.
garbage collector will se which value is not used, and it will delete.

In [ ]:
user_input = "tejas lalwani"
print("hey, my name is " + user_input )

hey, my name is tejas lalwani

In [ ]:
num = 10
print(num)

10

In [ ]:
num = 15
print(num)

15

## Comments

In [ ]:
# this is a single line comment
print("hello")

hello

In [ ]:
'''
this is a multiline comment, this is used mainly like javadoc comments.
'''
print("hello, World")

hello, World

# Indentaion

no need to put that brackets like in java

In [ ]:
x = 5
if x > 3:
  print("x is greater than 3")

x is greater than 3

Legal Variable Name:
variable can contain - letter and numbers and underscore
but it cannot start with - letter or underscore.

In [ ]:
@name = yash

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-19-15542e3ad08c>, line 1)

Varibles are case sensitive

In [ ]:
My_Name = yash
print(my_name)

Keywords cannot be use as varibale, for example 'if' cannot be used

multiple values can be initialized in same line

In [ ]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [ ]:
x=y=z=1
print(x, y, z)

1 1 1

# Data Type in python

Numbers

In [ ]:
x = 10 ## int
y = 3.14 ## float
z = 2 + 3j ## complex, j is predefined keyword, i is not

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

complex

In [ ]:
z.real

2.0

In [ ]:
z.imag

3.0

# String

In [ ]:
name = "yash"
type(name)

str